@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sora;
  src: url(/src/assets/Sora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "work";
  src: url(/src/assets/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: inter;
  src: url(/src/assets/Inter-VariableFont_slnt\,wght.ttf);
}

#work {
  font-family: work;
}

#inter {
  font-family: inter;
}

html body {
  font-family: sora;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #f4f6f8;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.button {
  border-radius: 8px;
  background: var(--primary-main, #120b48);
}

#footer {
  background: var(--primary-main, #120b48);
}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.authbtn {
  border-radius: 10px;
  border: 1px solid #141414;
  background: #fff;
  display: flex;
  /* padding: 9px 123px 9px 133px; */
  /* justify-content: flex-end; */
  align-items: center;
  color: #141414;
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}

#receiver {
  border-radius: 16px;
  border: 0.5px solid var(--primary-primary-50, #e7e7ed);
  background: rgba(182, 179, 198, 0.2);
}

#secure {
  background: rgba(231, 231, 237, 0.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 20;
  background-color: rgba(32, 32, 32, 0.75);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: scale 0.4s ease-in-out forwards;
  transition: all;
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.sent {
  width: 350px;

  flex-shrink: 0;
}

.search {
  border-radius: var(--Inner-Radius, 12px);
  border: 1px solid var(--primary-primary-50, #e7e7ed);
  background: rgba(182, 179, 198, 0.14);
}

.video-card {
  border-radius: var(--Outer-Radius, 24px);
  border: 1px solid rgba(182, 179, 198, 0.6);
  background: rgba(251, 251, 251, 0.5);
}
